<div class="app-content">
  <div class="app-title">
    <div class="TitreXS TitreSM">
        <h1 class="river font-weight-bold"><i class="fa fa-lg  fa-user"></i>&nbsp; Gestion des utilisateurs</h1>
        <p></p>

    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">
        </li>
    </ul>

<td class="text-center">
    <h6 style="margin-top: 14px;" class="font-weight-bold">Ajouter un utilisateur</h6>
    <a (click)='click_AddUser()'><i class="fa fa-3x fa-plus river marina-hover"  ></i> </a>
</td>
</div>



  <div >
    <ejs-grid id='userGrid' #userGrid   [dataSource]="users" [allowPaging]='true'
    [allowFiltering]='true' [allowSorting]='true' [pageSettings]='pageSettings' [editSettings]='editSettings'
    >
        <e-columns class="row bg-white ConventionXL ConventionLG ConventionMD ConventionSM ConventionXS RowXL" style="box-shadow: rgba(0, 0, 0, 0.5) 0.7px 2px 5px;">
        <e-column field='badgeCode' headerText='N° Badge' textAlign='center' width=110></e-column>
          <e-column field='firstName' headerText='Nom' textAlign='center' width=90></e-column>
            <e-column field='lastName' headerText='Prénom' textAlign='center' width=120></e-column>
            <e-column field='rank' headerText='Grade' textAlign='center' ></e-column>
            <e-column field='office' headerText='Bureau' textAlign='center' ></e-column>
            <e-column field='service' headerText='Service' textAlign='center'  ></e-column>
            <e-column field='team' headerText='Equipe' textAlign='center'  ></e-column>
            <e-column headerText='' width=120 [commands]='commands'></e-column>
        </e-columns>
        </ejs-grid>




<div #container ></div>
<ejs-dialog #ejDialog *ngIf="showDialog" [isModal]='true'  id='dialog'   width='75%' [target]="target" (overlayClick)="overlayClick()" >
  <app-user-form *ngIf="showForm"  #userForm (update)="update($event)" (cancel)="cancelSave()"  ></app-user-form>
</ejs-dialog>

<ejs-dialog #confirmDialog  *ngIf="showConfirm" [isModal]='true'  id='confirm' width='40%' [target]="target" (overlayClick)="confirmDialog.hide()" >
  Êtes-vous sûr de vouloir supprimer cet enregistrement ?
  <div class="row">
    <div class="col-12 col-sm-2"></div>
  <div class="col-12 col-sm-4">
    <div id="landing3" class="Positionbouton PositionboutonXL PositionboutonLG PositionboutonMD PositionboutonXS PositionboutonSM">
      <a class="button btn btn-block btn-lg boutonloginXL boutonloginLG boutonloginMD boutonloginSM boutonloginXS" (click)="cancelDelete()" >Annuler</a>
    </div>

  </div>
  <div class="col-12 col-sm-4">
    <div id="landing2" class="Positionbouton PositionboutonXL PositionboutonLG PositionboutonMD PositionboutonXS PositionboutonSM">
      <a class="button btn btn-block btn-lg boutonloginXL boutonloginLG boutonloginMD boutonloginSM boutonloginXS" (click)="delete()">OK</a>

    </div>
  </div>
</div>
</ejs-dialog>

</div>
