<div class="app-content">
  <div class="app-title">
    <div class="TitreXS TitreSM">
        <h1 class="river font-weight-bold"><i class="fa fa-lg  fa-user"></i>&nbsp; Gestion des utilisateurs</h1>
        <p></p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">
        </li>
    </ul>
</div>

<div id="DivListUsers" #targetDiv class="tile mb-4 positionXS positionSM positionMD"  >

  <div >
    <ejs-grid id='userGrid' #userGrid   [dataSource]="users" [allowPaging]='true' [allowFiltering]='true' [allowSorting]='true' [pageSettings]='pageSettings'  (rowSelected)='handleSelect($event)'>
        <e-columns class="row bg-white ConventionXL ConventionLG ConventionMD ConventionSM ConventionXS RowXL" style="box-shadow: rgba(0, 0, 0, 0.5) 0.7px 2px 5px;">
            <e-column field='firstName' headerText='Nom' textAlign='center' width=90></e-column>
            <e-column field='lastName' headerText='Prénom' textAlign='center' width=120></e-column>
            <e-column field='rank' headerText='Grade' textAlign='center' ></e-column>
            <e-column field='office' headerText='Bureau' textAlign='center' ></e-column>
            <e-column field='service' headerText='Service' textAlign='center'  ></e-column>
            <e-column field='team' headerText='Equipe' textAlign='center'  ></e-column>
        </e-columns>
        </ejs-grid>
</div>

<div><h6 style="margin-top: 14px;" class="font-weight-bold">Ajouter un utilisateur</h6></div>
<td class="text-center">
    <a (click)='click_AddUser($event)'><i class="fa fa-3x fa-plus river marina-hover"  ></i> </a>
</td>

<div #container ></div>
<div *ngIf="showDialog">
<ejs-dialog [isModal]='true'  id='dialog' #ejDialog  width='75%' [target]="target" (overlayClick)="overlayClick()" >
  <app-user-form  #userForm (update)="update($event)" (cancel)="cancelSave()"  ></app-user-form>

</ejs-dialog>
</div>
</div>
