/* You can add global styles to this file, and also import other style files */
@import url("./assets/css/main.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("./assets/components/pg.blocks.wp/css/blocks.css");
@import url("./assets/components/pg.blocks.wp/css/plugins.css");
@import url("./assets/components/pg.blocks.wp/css/style-library-1.css"); 
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700");
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic");
